{% autoescape off %}
Xin chào {{ user.username }},

Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn sử dụng địa chỉ email này. 
Để bắt đầu quá trình đặt lại mật khẩu, hãy nhấp vào liên kết bên dưới:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Liên kết này chỉ có thể sử dụng một lần. Nếu bạn cần đặt lại mật khẩu lần nữa, vui lòng truy cập {{ protocol }}://{{ domain }} và gửi yêu cầu mới.

Nếu bạn không thực hiện yêu cầu này, bạn có thể bỏ qua email này.

Trân trọng,
TicTacToe
{% endautoescape %}
